@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap");
body {
  background: url("../img/background.png") no-repeat center top;
  background-size: cover;
  margin: 0px;
}

.top-menu {
  display: flex;
  margin: 0px;
  height: 58px;
  background: rgba(0, 0, 0, 0.4);
}
span:hover {
  color: #01813f;
}
.journey {
  width: 157px;
  height: 22px;
  font-family: "Ubuntu";
  font-style: normal;
  font-size: 22px;
  color: #ffffff;
  text-align: center;
  margin-left: 79px;
  margin-top: 18px;
}
.journey:hover {
  color: #01813f;
}
.icon-image {
  display: flex;
  right: 0px;
  left: 0px;
  top: 18px;
  justify-content: flex-end;
  align-items: center;
  margin-left: 810px;
}
.icon {
  color: white;
  width: 23px;
  height: 23px;
  padding-right: 27px;
}

main {
  position: relative;
}
.forma {
  position: absolute;
  width: 444px;
  height: 584px;
  margin: 0 auto;
  left: 0px;
  right: 0px;
  top: 54px;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgb(0 0 0 / 52%);
}
.boundary {
  width: 1px;
  height: 19px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  background: rgba(255, 255, 255, 0.9);
  mix-blend-mode: normal;
  opacity: 0.5;
}
.icon-image-hover:hover {
  color: #01813f;
}
.icon-image:hover {
  color: #01813f;
}
.icon-image-text--welcome {
  color: #ffffff;
  width: 108px;
  height: 22px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin-top: 7px;
  padding-right: 2px;
  padding-left: 27px;
}
.icon-image-text--sign {
  width: 68px;
  height: 14px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  padding-right: 79px;
  color: #ffffff;
}
.forma {
  width: 444px;
  height: 584px;
  margin: 0 auto;
  left: 0px;
  right: 0px;
  top: 54px;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgb(0 0 0 / 52%);
}
.header {
  display: flex;
  padding-top: 29px;
}
.button {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.trait {
  width: 1px;
  height: 28px;
  left: 49px;
  top: 10px;

  background: #2b0d09;
  mix-blend-mode: normal;
  opacity: 0.1;
}
.btn-facebook {
  width: 160px;
  height: 48px;
  background: #305db8;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #ffffff;
  border-radius: 2px;
  margin-right: 4px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}
.btn-facebook:hover {
  background: #022263;
}
.button img {
  padding-right: 38px;
}

.button-icon::after {
  content: "";
  display: block;
  width: 9px;
  height: 28px;
  background: red;
  mix-blend-mode: normal;
  opacity: 0.1;
  margin-right: 18px;
}
.btn-google {
  width: 160px;
  height: 48px;
  background: #df4a32;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #ffffff;
  border-radius: 2px;
  border-width: 0px;
}
.btn-google:hover {
  background: #ab1f09;
}
.image-button {
  color: black;
}
.box {
  width: 18px;
  height: 18px;
  left: 0px;
  top: 29px;
  display: flex;
  background: #3cb878;
}
.log-in {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #3cb878;
  width: 50px;
  height: 14px;
  margin-left: 216px;
}
.log-in:hover {
  text-decoration: underline;
  color: #01813f;
}
.line {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  align-items: center;
}

.text-line {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #848484;
  width: 15px;
  height: 14px;
  padding-bottom: 3px;
  padding-left: 1px;
  padding-right: 1px;
}

.line::before {
  content: "";
  display: block;
  width: 154px;
  height: 1px;
  background: #f2f2f2;
  padding-right: 1px;
}
.line::after {
  content: "";
  display: block;
  width: 154px;
  height: 1px;
  background: #f2f2f2;
  padding-right: 1px;
}

.form {
  text-align: center;
  width: 444px;
  height: 46px;
  margin-bottom: 12px;
}
.text-group::placeholder {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #bebebe;
  padding-left: 20px;
}
.text-group {
  width: 324px;
  height: 46px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
}

.title {
  width: 80px;
  height: 14px;
  margin-top: 0px;
  margin-left: 43px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #434343;
}
.button-create-account {
  display: flex;
  justify-content: center;
}
.chexbox {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-right: 50px;
}
.btn-account {
  width: 324px;
  height: 46px;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #ffffff;
  border-width: 0px;
}
.btn-account:hover {
  background: #01813f;
}
.text-chexbox {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;

  color: #434343;
}
.text-chexbox span {
  color: rgba(60, 184, 120, 0.8);
}
.text-chexbox span:hover {
  text-decoration: underline;
  color: #01813f;
}
INPUT.text-group:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

input[type="checkbox"] {
  position: absolute;
  left: -999em;
}

input[type="checkbox"] + label {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  vertical-align: -25%;
  height: 2ex;
  width: 2ex;
  background-color: white;
  border: 1px solid #f2f2f2;
  margin-right: 0.5em;
}

input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  width: 1.2ex;
  height: 0.4ex;
  background: rgba(0, 0, 0, 0);
  top: 0.9ex;
  left: 0.4ex;
  border: 3px solid #01813f;
  border-top: none;
  border-right: none;

  transform: rotate(-45deg);
}
